.skiir-help, #skiir-dialog #context span {
    background: none;
    border: none;
    border-bottom: 1px solid red;
    padding: 0;
}

.skiir-explanation > button {
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid green;
    cursor: help;
    background-color: transparent;
}

.skiir-explanation>div {
    display: none;
    margin: 20px;
    padding: 10px;
    background-color: gainsboro;
    position: relative;
    padding-right: 100px;
    min-height: 55px;
}
.skiir-explanation p {
    font-style: italic;
    margin: 0 !important;
}
.skiir-explanation .improve {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 3px 10px;
}
.skiir-explanation .links {

}
.skiir-explanation .links a {
    font-size: smaller;
    color: grey;
    border: none;
}
.skiir-explanation .links a:hover {
    color: black;
}

.skiir-explanation:hover>div {
    display: block;
}

.skiir-explanation.show>div, .skiir-explanation .dropdown ul.show {
    display: block !important;
}

#skiir-dialog {
    background: #FFF;
    width: 1000px;
    text-align: center;
    padding: 1.5em;
    margin: 1em auto;
    border: 0;
    border-top: 5px solid rgba(105, 199, 155, 1);
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
    z-index: 100;

    position: fixed;
    top: 50%;
    height: 800px;
    margin-top: -400px;

}
@media screen and (max-width: 1024px), screen and (max-height: 825px) {
    #skiir-dialog {
        width: auto;
        left: 15px;
        right: 15px;
        top: 15px;
        bottom: 15px;
        margin: 0;
        height: auto;
        position: fixed;
        overflow-y: auto;
    }
}

#skiir-dialog #close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    border: 1px solid lightgrey;
    color: grey;
}

#skiir-dialog::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
#skiir-dialog .row {
    display: flex;
    width: 100%;
}
#skiir-dialog .row + .row {
    margin-top: 4px;
}
#skiir-dialog textarea {
    width: 100%;
}
#skiir-dialog .skiir-button-prefix, #skiir-dialog textarea {
    padding: 10px 30px;
    height: 44px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    background: #eee;
}
#skiir-dialog .votes {
    padding: 10px 10px;
}
.skiir-button {
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 30px;
}
.skiir-button-prefix + .skiir-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#skiir-dialog #done, #skiir-dialog button.vote, .skiir-button-green {
    background-color: rgba(105, 199, 155, 1);
    border: 1px solid rgba(105, 199, 155, 0.5);
    color: white;
}
#skiir-dialog button.vote + span {
    /* padding after vote button */
    padding-left: 15px;
}

#skiir-dialog #annotations {
    list-style-type: upper-roman;
    text-align: left;
}
#skiir-dialog #annotations .row {
    /* aligns annotation text in the middle of the vote button */
    align-items: center;
}

#skiir-dialog #done:hover {
    background-color: rgba(105, 199, 155, 0.5);
}
#skiir-dialog #context {
    height: auto;
}
#skiir-dialog #context span {
    font-weight: bold;
}
#skiir-dialog #snippets {
    overflow-y: scroll;
    margin-top: 10px;
    height: 500px;
}
#skiir-dialog #snippets div {
    border: 1px solid grey;
    text-align: left;
    padding: 10px;
}
#skiir-dialog #snippets label {
    margin-left: 30px;
    color: rgba(105, 199, 155, 1);
    font-weight: bold;
}
#skiir-dialog #snippets label:hover {
    cursor: pointer;
    text-decoration: underline;
}
#skiir-dialog #snippets label input, #skiir-dialog #relatedArticles label input {
    zoom: 3;
    margin-right: 15px;
}

#relatedArticles {
    text-align: left;
}

#relatedArticles h4 {
    color: rgba(105, 199, 155, 1);
}

.skiir-dialog-title {
    text-align: left;
    font-size: 20pt;
    line-height: 33pt;
}
