@(message: String)(implicit requestHeader: RequestHeader)

@main("Welcome to Play") {
    <article>
        <h1>Welcome to SkiIR</h1>
        <p>Congratulations, you’ve just started a local SkiIR server.</p>
        <blockquote>
            <p>You’re using Play 2.3.8</p>
        </blockquote>
        <h2>What now?</h2>
        <ul>
            <li>Fire-up the browser extension, </li>
            <li>point te extension to your local server (should detect automatically) and </li>
            <li>start browsing news websites!</li>
        </ul>
        <pre><code># Basic API
GET     /requests                             Get all annotation requests
POST    /requests                             Add new request; you need to provide article_url
POST    /requests/:rid/annotations            Add new annotation
POST    /requests/:rid/annotations/:aid/vote  Increase vote for annotation

GET     /articles                  Get all articles we have in the database
GET     /articles/:id              Get single article, by id. Plus all annotations and annotation requests in database
GET     /articles/single?url=:url  Get single article, by url. Plus all of the above.
POST    /articles/:id/requests     Add new request, to this specific article

# Semantic tools
GET     /explain/:text          Get DbPedia entries for all (AlchemyAPI) concepts in the given text
GET     /crawl?url=:url         Scrape URL and record Entities and Concepts from Alchemy</code></pre>
    </article>
}
